.main-loto {
  font-weight: 700;
  font-size: 4vw;
  color: #424141;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff !important;
  width: 100vw;
  /* height: 100vh; */
  text-align: center;
}

.first-block {
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
}
.logo {
  text-align: center;
  height: 7%;
  background: #e7e7e7;
  margin: 5vw;
  font-family: monospace;
  font-size: 8vw;
  color: #000;
  line-height: 1.6;
  white-space: nowrap;
  position: relative;
}

.logo-image {
  height: 80vw;
}

.logo-image >img {
  width: 80%;
  height: 80%;
  transform: translate(0, 25%);
}

.btn-first-block {
  height: 75vw;
}
.btn-first-block >button {
  height: 12vw;
  padding: 2vw 7vw;
  font-size: 4vw;
  margin-top: 16vw;
  border-radius: 6vw;
}
.header-read .btn-header {
  margin: 2vw;
  height: 10vw;
  padding: 0vw 7vw;
  font-size: 4vw;
  border-radius: 6vw;
}
.speed {
  display: flex;
  margin: 0 3vw;
}
.speed >span {
  text-align: center;
  margin-right: 1vw;
  width: 16vw;
}

.main-game {
  display: flex;
  flex-direction: column;
}


.b-random-number {
  height: 44.5vw;
  margin-top: 2vw;
}

.b-number {
  font-size: 26.5vw;
  width: 44.5vw;
  height: 44.5vw;
  border: 2vw #e03e00 solid;
  border-radius: 50%;
  margin: auto;
}

.ran-number {
  position: absolute;
  transform: translate(-50%, -2%);
}

.b-history {
  border: 0.3vw #1890ff solid;
  border-radius: 6vw;
  height: 12.2vw;
  margin: 1vw 0.7vw;
  padding: 1vw;
  display: flex;
  list-style: none;
}


.l-lv-number {
  list-style: none;
  padding: 4vw 2vw;
  margin: 0;
  height: 95.5vw;
}

.l-lv-number li {
  display: flex;
  height: calc(100% / 9);
}


.r-number {
  border: 0.3vw #e03e00 solid;
  border-radius: 50%;
  height: 9vw;
  width: 9vw;
  line-height: 8.5vw;
  margin: 0.3vw;
}

.btn-header {
  font-weight: 900 !important;
}

.ticketsPage {
  width: 100vw;
  height: 163.6vw;
  padding: 8vw 0;
}

.ticket-image {
  width: 100%;
  height: 100%;
}

.ticketInList {
  cursor: pointer;
  width: 23vw;
  float: left;
  margin: 1vw 1vw;
}

.ticketSelected {
  width: 94vw;
  height: 152vw;
  float: left;
  margin: 6vw 3vw;
  padding: 1.5vw;
  border: 0.4vw #585858 solid;
}

.ticketSelected-50 {
  width: 47vw;
  height: 76vw;
  float: left;
  margin: 3vw 1.5vw;
  padding: 0.75vw;
  border: 0.2vw #585858 solid;
}
.ticketSelected-50 .ticket {
  border: 0.2vw #585858 solid;
  border-right: unset;
  border-bottom: unset;
}

.ticketSelected-50 .ticket-col {
  border: 0.2vw #585858 solid;
  border-left: unset;
  border-top: unset;
}

.ticketSelected-50 .scale-number {
  font-size: 8.5vw;
}

.ticket {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 0.4vw #585858 solid;
  border-right: unset;
  border-bottom: unset;
}

.ticket-row {
  width: 100%;
  height: calc(100% / 9);
}

.ticket-col {
  width: calc(100% / 9);
  border: 0.4vw #585858 solid;
  border-left: unset;
  border-top: unset;
  cursor: pointer;
}

.scale-number {
  font-size: 17vw;
  color: #585858;
  pointer-events: none;
  display: block;
  position: absolute;
  transform: scale(.4, 1) translate(-76%, -20%);
}

.selectedTicket {
  color: #1fc800 !important;
  font-size: 64px;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  
}
.selectedTicket > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ticketInList {
  position: relative;
}

.activeNumber {
  background-color: rgba(0, 0, 0, 0.3) !important;
}